<ion-view title="Stocks" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="stocks2-heading6" style="color:#000000;">{{stock.symbol}}</h1>
    <h2 id="stocks2-heading7" style="color:#000000;font-weight:400;">Price {{stock.price}}</h2>
    <h3 id="stocks2-heading8" style="color:#000000;font-weight:300;">Day {{stock.day}}</h3>
    <h3 id="stocks2-heading9" style="color: {{stock.color}};font-weight:300;">{{stock.change}}</h3>
    <h3 id="stocks2-heading10" style="color:#000000;font-weight:300;">{{stock.suggestion}}</h3>
    <a ui-sref="stocks()" id="stocks2-button2" class="button button-positive button-block">Back</a>
  </ion-content>
</ion-view>